.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    
}
.screen-header__title {
    font-size: 28px;
    font-weight: 900;
}
.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

header {
    margin-top: 25px;
}