.main2 {
    padding: 40px 20px 20px 20px;
  background-color: #FEFEFE;
  border-radius: 20px;
  height: 700px;
  width: 300px;
}

.main2__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.main2__img img {
    height: 230px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 5px 20px 50px #64B3D2;
}

.main2__title {
    margin: 50px 0;
}

.main2__bar {
    margin-top: -30px;
}

.main2__bar-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main2__bar-time div {
    opacity: 0.5;
}

.main2__bar-bar input {
    width: 100%;
    accent-color: black;
}

.main2__play-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.main2__play-btn i:first-child {
    opacity: 0.5;
}

.main2__play-btn i:last-child {
    opacity: 0.5;
}