.find-icons {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--main-border);
    padding-bottom: 25px;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon span {
    margin-top: 20px;
    
    
}

.find-openchat {
    margin-top: 15px;
    font-weight: 600;
}

.find-icons__more {
    margin: 20px 20px 15px 15px;
    border-bottom: none;
}

.find-icons__more2 :nth-child(3) {
    opacity: 0;
}

.find-icons__more2 :nth-child(4) {
    opacity: 0;
}